[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "awesome/config.symlink/awesome/themes/o-dools"]
	path = Linux/config.symlink/awesome/themes/o-dools
	url = git@github.com:rdooley/o-dools
[submodule "zsh/zsh-git-prompt.symlink"]
	path = zsh/zsh-git-prompt.symlink
	url = git@github.com:starcraftman/zsh-git-prompt.git
